.bg-contact{
    align-items: center;
    background-attachment: fixed;
    background-image:url('../about images/back.gif');
    background-repeat: no-repeat;
    width: 99%;
    height:70%;
}

.f-size {
    font-size: 2em;
    font-family: 'Nunito Sans', Arial, sans-serif;
    color: #939393;
}
.fc-size {
    font-size: 110%;
    font-family: 'Nunito Sans', Arial, sans-serif;
    color: #939393;
}
.fd-size {
    font-size: 110%;
    font-family: 'Nunito Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
}
.space {
    text-align: center;
    gap: 2em;
}
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 90px;
}
.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.9rem;
    background-color: white;
    height: 560px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mp {
    width: 500px;
    height: 577px;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ds {
    display: flex;
    margin-top: 1rem;
    height: 40px;
    width: 450px;
    border-radius: 7px;
    border: 1px solid;
    border-color: rgb(171, 171, 171);
    padding-left: 7px;
}
.ds:focus {
    outline: none;
    border-color: #1470e0;
    box-shadow: 0 0 5px #1470e0;
}
.ds1 {
    height: 30px;
    border: 1px solid;
    width: 450px;
    text-align: top;
    border-color: rgb(171, 171, 171);
    padding-bottom: 200px;
    padding-left: 7px;
}
.textarea {
    font-family: 'Nunito Sans', Arial, sans-serif;
    color: #757575;
}
.btnn {
    border-radius: 7px;
    width: 28%;
    margin: auto;
}
.contact-df {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Nunito Sans', Arial, sans-serif;
    font-size: large;
    align-items: center;
}
@media only screen and (max-width: 1000px) {
    .f-size {
        font-size: 2rem;
    }
    .-m2 {
        width: 90vw;
        font-size: 20px !important;
    }
    .contact{
        margin-top: 60px;
    }
    .space {
        flex-wrap: wrap;
        text-align: start;
        gap: 50px;
    }
    iframe {
        width: 98vw !important;
        margin-bottom: 15px;
    }
    .fc-size {
        font-size: 80%;
    }
    .fd-size {
        font-size: 80%;
    }
    .container {
        align-items: center;
    }
    .mp {
        margin: 0px auto;
    }
    .box {
        margin: 0px auto;
    }
    .ds {
        width: 330px;
    }
    .ds1 {
        width: 330px;
    }
    .bg-app{
        width: 99%;
        height:99%;
    }
}
