footer{
    background-color: #3473bf !important;
    color: white !important;
    min-height: 40vh !important;
}
.footer_container{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    color: white !important;
    padding: 10px 5dvw !important;
}
.f_icons{
    display: flex !important;
    justify-content: space-around !important;
    font-size: 25px !important;
}
.li{
    display: flex !important;
    align-items: center !important;
    color: rgba(196, 196, 226, 0.653) !important;
    margin-top: 20px !important;
}
.li:hover{
    cursor: pointer !important;
}
ul{
    text-decoration: none !important;
    padding: 0 !important;
}
li i{
    font-size: 20px !important;
    margin-right: 20px !important;
    color: white !important;
}

.footer_about p{
    color:rgba(196, 196, 226, 0.653) !important;
   
}
.copyright{
    text-align: center !important;
    padding: 30px !important;
}
.f_icon{
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #5f5dd24d !important;
}
i{
    transition: all 0.5s !important;
}
i:hover{ 
    cursor: pointer !important;
    transform: scale(1.2)  !important;
}
.facebook:hover{
    color: rgb(54, 54, 248) !important;
}
.instagram:hover{
color:rgb(250, 104, 104) !important
}
.twitter:hover{
    color: rgb(69, 212, 244) !important;
}
.location:hover{
    color: rgb(153, 82, 94) !important;
}
.phone:hover{
    color: rgb(138, 244, 138) !important;
}
.email:hover{
    color: rgb(0, 0, 0) !important;
}